@font-face {
    font-family: 'customFont';
    src: url('../../assets/XiaolaiMonoSC-Regular.ttf') format('truetype');
  }
  
  :root {
    --vp-sidebar-width: 300px;
    --vp-font-family-base: "customFont"
  }